<div class="jumbotron">
  <h1>Son, do you want to go to heaven?</h1>
  <p><%= image_tag 'heck-yes.jpg', class: 'center-block img-rounded' %></p>
  <p class="text-center">
    <%= link_to "Yes", heaven_path, class: 'btn btn-primary' %>
  </p>
</div>
